{% extends "layout.njk" %}

{% set title = "Cadastro Novo Usuário" %}

{% block content %}
  


<h1 class="my-5 text-center">Lista de Usuários</h1>
<hr>
<section class="card-deck">

<table class="table table-bordered ">
  <thead>
    <tr>
     
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
     <th scope="col">Senha</th>
    </tr>
  </thead>
  <tbody>

  {% for userget in users %}

   <tr>
     
      <td>{{ userget.name }}</td>
      <td>{{ userget.email }}</td>
   <td>{{ userget.password }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</section>




<h1 class="my-5 text-center">{{ title }}</h1>

<hr>
    <form id="formUser" action="/listadeusuarios" method="post">

    <div class="form-group">
    <label>Nome: </label>
        <input type="text" class="form-control" required  id="user-name" name="name">
    </div>

    <div class="form-group">
    <label>E-mail: </label>
        <input type="email" class="form-control" required id="user-email" name="email">
    </div>
 <div class="form-group">
    <label>Senha: </label>
  <input type="password" class="form-control" required id="user-password" name="password">
       </div>

 <div class="form-group">
    <label>Confirmar Senha: </label>
        <input type="password" class="form-control"  required id="user-confirm_password" name="confirm_password">
    </div>


   <button type="submit" class="btn btn-primary">Cadastrar</button>

  </form>
</br>
</div></div></div>
{% endblock %}